@font-face{
    font-family:gameSquid;
    src: url(./game-of-squids/Game\ Of\ Squids.ttf);
}

.a1st {
    font-family: 'Courier New', Courier, monospace ;
    
}
.b2nd {
    font-family: 'Send Flowers', cursive;
}
.c3rd  {
     font-family:gameSquid;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(68, 68, 238);
    
}
body{
    background-color: rgb(189, 144, 144);
    padding: 20px;
}
h1{
    color: rgb(68, 68, 238);
    font-family: gameSquid;

}
